# Configuración para Desarrollo
DEBUG=True
SECRET_KEY=django-insecure-nj-1gtjk5v0rjxc8tc!*9m05gdvdkrez3+h*8
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,*.ngrok.io,*.ngrok-free.app

# Base de datos
POSTGRES_DB=djangoweb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_HOST=db
POSTGRES_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://*.ngrok.io,https://*.ngrok-free.app

# Configuración de Docker
DOCKER_CONTAINER=True

# Token para comunicación interna con el listener de TikTok
INTERNAL_LISTENER_TOKEN = django-secure-de-a-madres-